##Ignore
*.bin
*.idea
*.build*
*.xml
*.lock
*out/*
*debug.log
*/out/
*/build/
*debug.log
*/.log*
*/.exe*
*/.cache*
*/.cmake*
*/.txt*
/TrabajoPractico/bin/*
/TrabajoPractico/obj/*
/TrabajoPractico/TPAutomatas.depend*
/*tpAutomatas.layout